
html , body
{
    /* To make use of full height of page*/
    min-height: 100vh;
    margin: 0;
}

body
{
    background-color: cadetblue;
}

#conteneur_icones
{
    position:absolute;
    top: 0px;
    right: 0px;
}

.icon
{
    border-radius: 10px;
    width:50px;
    height: 50px;
}

.icon:hover, .mini_icon:hover
{
    background-color: aqua;
}

.icon-rien-save
{
    opacity: 0.5;
    pointer-events: none;
}

#conteneur_3_grands_divs
{
    height: calc(80%);
}

.div_central
{
    display : inline-block;
    vertical-align: top;
    width: calc(38%);
    height: calc(80%);
}

#biblio_table, #playlist_contener table
{
    display: inline-block;
    height:79vh;
    overflow-y: auto;
}

#mid_contener, #audio_contener
{
    width: calc(23%);
}

.tr_hover:hover
{
    background-color: rgb(104, 168, 147);
}

.played_music
{
    background-color: aquamarine;
}

#audio_contener
{
    position:absolute;
    bottom: 0px;
    left:calc(38%);
    border:1px solid #13bad4;
    border-radius:10px 10px 27px 27px;
    background-color: rgb(51, 205, 205);
}

.invisible
{
    display: none;
}

.affichage_audio_titre
{
    margin:auto;
    text-align: center;
    width: calc(100%);
}

.affichage_audio
{
    border-radius: 27px;
    background-color: rgb(233, 255, 255);
}

.div_couleur_tag
{
    margin:0px;
    padding:0px;
    width:10px;
    height:10px; 
    border-radius: 20px;
    position: relative;
}

.mini_icon
{
    border-radius: 5px;
    width: 15px;
    height: 15px;
}

.bottom_arrow
{
    transform : rotate(-90deg);
    pointer-events: none;
}

.right_arrow
{
    transform : rotate(180deg);
    pointer-events: none;
}

.div_parametres
{
    position : absolute;
    top:0px;
    left : calc(50%);
    padding : 10px;
    z-index : 20;
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}