
html , body
{
    /* To make use of full height of page*/
    min-height: 100vh;
    margin: 0;
}

body
{
    background-color: cadetblue;
}
/*
#conteneur_icones
{
    position:absolute;
    top: 0px;
    right: 0px;
}
*/
.icon
{
    border-radius: 5px;
    height: 50px;
}

.icon:hover, .mini_icon:hover
{
    background-color: aqua;
}

.icon-rien-save
{
    opacity: 0.5;
    pointer-events: none;
}

/*
#conteneur_3_grands_divs
{
    height: calc(100%);
}
*/
/*
.div_central
{
    display : inline-block;
    vertical-align: top;
    width: calc(38%);
    height: calc(80%);
}*/

/*
#biblio_table, #playlist_contener table
{
    display: inline-block;
    height:79vh;
    overflow-y: auto;
}*/

/*
#mid_contener, #audio_contener
{
    width: calc(25%);
}
*/
.tr_hover:hover
{
    background-color: rgb(104, 168, 147);
}

.played_music
{
    background-color: aquamarine;
}

.gridclass_header 
{
    grid-area: header;

    display: grid;
    grid-template-areas:
        'input-header icons-header';
    grid-template-columns: calc(1/2) calc(1/2);
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 0px;
    padding: 0px;
}
.gridclass_input_header {grid-area: input-header;}
.gridclass_icons_header 
{
    grid-area: icons-header;

    display: grid;
    grid-template-areas:
        'icons-apm icons-upload icons-download icons-parameters';

    column-gap: 0px;
    row-gap: 0px;
    padding: 0px;
}

.gridclass_icones_add_musics {grid-area: icons-musics; display : none;}
.gridclass_icones_add_apm {grid-area: icons-apm;}
.gridclass_icones_bibli {grid-area: icons-bibli; display : none;}
.gridclass_icones_playt {grid-area: icons-playt; display : none;}
.gridclass_icones_playlist {grid-area: icons-playlist; display : none;}
.gridclass_icones_upload {grid-area: icons-upload;}
.gridclass_icones_download {grid-area: icons-download;}
.gridclass_icones_parameters {grid-area: icons-parameters;}

.gridclass_biblio {grid-area: biblio; overflow-y: auto;}
.gridclass_playt {grid-area : playlists-tags; overflow-y: auto;}
.gridclass_play {grid-area : play; overflow-y: auto;}
.gridclass_audio_content {grid-area : audio-content;}

.grid_container
{
    display: grid;
    height: 100vh;
    grid-template-areas:
        'header header header header header header'
        'biblio biblio playlists-tags playlists-tags play play'
        'biblio biblio audio-content audio-content play play';
    grid-template-columns: calc(1/6) calc(1/6) calc(1/6) calc(1/6) calc(1/6) calc(1/6);
    grid-template-rows: auto calc(85%) 85px;
    column-gap: 10px;
    row-gap: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

.grid_container div 
{
    text-align: center;
}


#audio_contener
{
    /*position:absolute;
    bottom: 0px;
    left:calc(38%);*/
    border:1px solid #13bad4;
    border-radius:10px 10px 27px 27px;
    background-color: rgb(51, 205, 205);
}

.invisible
{
    display: none;
}

.affichage_audio_titre
{
    margin:auto;
    text-align: center;
    width: calc(100%);
}

.affichage_audio
{
    border-radius: 27px;
    background-color: rgb(233, 255, 255);
}

.div_couleur_tag
{
    margin:0px;
    padding:0px;
    width:10px;
    height:10px; 
    border-radius: 20px;
    position: relative;
}

.mini_icon
{
    border-radius: 5px;
    width: 15px;
    height: 15px;
}

.bottom_arrow
{
    transform : rotate(-90deg);
    pointer-events: none;
}

.right_arrow
{
    transform : rotate(180deg);
    pointer-events: none;
}

.abspos
{
    position : absolute;
    z-index : 10;
    width : calc(100%);
}

.center_parent
{
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_parametres
{
    /*position : absolute;
    top:0px;
    left : calc(50%);*/
    padding : 10px;
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    border-radius: 10px;
    background-color: rgba(84, 139, 141, 0.9);
    border-width: 3px;
    border-color: rgb(84, 139, 141);
}

#div_bouton_fermer_parametres
{
    display: flex;
    justify-content:flex-end;
}

.bouton_fermer
{
    top : 10px;
    right : 10px;
}

#titre_parametres
{
    margin-top: -10px;
    text-align: center;
}

#div_bouton_appliquer_parametres
{
    padding-top : 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label
{
    margin : 2px;
    padding-left: 5px;
}

input[type="color"]
{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    outline : none;
    border: none;
    -webkit-appearance: none;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 24%), 0 8px 10px 0 rgb(0 0 0 / 19%);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0; 
    border : none;
    margin : 0px;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    padding: 0px; 
    border : none;
    margin : -3px;
}