
html , body
{
    /* To make use of full height of page*/
    min-height: 100vh;
    margin: 0;
}

body
{
    background-color: cadetblue;

    font-size: 20px;
}

.icon
{
    border-radius: 5px;
    height: 50px;
    max-width: calc(1/8);
}

.mini_icon:hover
{
    background-color: rgba(255, 255, 255, 0);
    background-color: var(--cssvar-bkgc);
}

.icon-rien-save
{
    opacity: 0.5;
    pointer-events: none;
}

.tr_hover:hover
{
    background-color: rgba(187, 187, 187, 0.7);
    background-color: var(--cssvar-trhover);
}

.played_music
{
    background-color: var(--cssvar-trfocus);
}

.gridclass_header 
{
    grid-area: header;

    display: grid;
    grid-template-areas:
        'icons-header';
    column-gap: 0px;
    row-gap: 0px;
    padding: 0px;
}
.gridclass_input_header {grid-area: input-header; display : none;}
.gridclass_icons_header 
{
    grid-area: icons-header;

    display: grid;
    grid-template-areas:
        'icons-musics icons-apm icons-bibli icons-playt icons-playlist icons-upload icons-download icons-parameters';

    grid-template-columns: calc(1/8) calc(1/8) calc(1/8) calc(1/8) calc(1/8) calc(1/8) calc(1/8) calc(1/8);
    column-gap: 0px;
    row-gap: 0px;
    padding : 0px;
    background-color: rgba(255, 255, 255, 0);
}

.gridclass_icons_header div:hover
{
    background-color: rgba(255, 255, 255, 0);
    background-color: var(--cssvar-iconhover);
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}

.gridclass_icons_header div
{
    padding-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 24%), 0 2px 5px 0 rgb(0 0 0 / 19%);
}

.gridclass_icones_add_musics {grid-area: icons-musics;}
.gridclass_icones_add_apm {grid-area: icons-apm; }
.gridclass_icones_bibli {grid-area: icons-bibli;}
.gridclass_icones_playt {grid-area: icons-playt;}
.gridclass_icones_playlist {grid-area: icons-playlist;}
.gridclass_icones_upload {grid-area: icons-upload;}
.gridclass_icones_download {grid-area: icons-download;}
.gridclass_icones_parameters {grid-area: icons-parameters;}

.gridclass_biblio {grid-area: biblio; overflow-y: auto; background-color: rgba(255, 255, 255, 0.5);}
.gridclass_playt {grid-area : playlists-tags; overflow-y: auto; background-color: rgba(255, 255, 255, 0.5);}
.gridclass_play {grid-area : play; overflow-y: auto; background-color: rgba(255, 255, 255, 0.5);}
.gridclass_parameters {grid-area: parameters; overflow-y: auto; background-color: rgba(255, 255, 255, 0.5);}
.gridclass_audio_content {grid-area : audio-content;}

.affiche_biblio
{
    display: grid;
    grid-template-areas:
    'header'
    'biblio'
    'audio-content';
    grid-template-rows: 60px auto 85px;
    height: 100vh;
    padding : 0px;
}

.affiche_playt
{
    display: grid;
    grid-template-areas:
    'header'
    'playlists-tags'
    'audio-content';
    grid-template-rows: 60px auto 85px;
    height: 100vh;
    padding : 0px;
}

.affiche_playlist
{
    display: grid;
    grid-template-areas:
    'header'
    'play'
    'audio-content';
    grid-template-rows: 60px auto 85px;
    height: 100vh;
    padding : 0px;
}

.affiche_parametres
{
    display: grid;
    grid-template-areas:
    'header'
    'parameters'
    'audio-content';
    grid-template-rows: 60px auto 85px;
    height: 100vh;
    padding : 0px;
}

#all_grids_container div 
{
    text-align: center;
}

.invisible
{
    display: none;
}

.affichage_audio_titre
{
    margin:auto;
    text-align: center;
    width: calc(100%);
}

.affichage_audio
{
    border-radius: 27px;
    background-color: rgba(233, 255, 255, 0.5);
}

.textalign_left 
{
    text-align: left !important;
}

.inline
{
    display: inline;
}

.div_couleur_tag
{
    margin:0px;
    padding:0px;
    width:10px;
    height:10px; 
    border-radius: 20px;
    position: relative;
}

.mini_icon
{
    border-radius: 5px;
    width: 15px;
    height: 15px;
}

.bottom_arrow
{
    transform : rotate(-90deg);
    pointer-events: none;
}

.right_arrow
{
    transform : rotate(180deg);
    pointer-events: none;
}
/*
.center_parent
{
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
label
{
    display: block;
    width : 100%;
}

input[type="color"]
{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    outline : none;
    border: none;
    -webkit-appearance: none;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 24%), 0 8px 10px 0 rgb(0 0 0 / 19%);
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0; 
    border : none;
    margin : 0px;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    padding: 0px; 
    border : none;
    margin : -3px;
}

input[type="checkbox"]
{
    width : 20px;
    height: 20px;
    border : none;
    cursor: pointer;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.padding
{
    padding : 10px;
}

input[type="button"]
{
    background-color: rgb(148, 148, 148);
    background-color: var(--cssvar-button);
    transition: 0.8s;
    border : none;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

input[type="button"]:hover
{
    background-color: rgb(190, 190, 190);
    background-color: var(--cssvar-buttonhover);
    transform: scale(1.1);
}

.square_button
{
    width: 25px;
    height: 25px;
}

h2
{
    margin: 0px;
    padding : 15px;
    background-color: rgba(190, 190, 190, 0);
    background-color: var(--cssvar-h2);
}

.whole_width
{
    width: 100%;
}

table
{
    border-collapse: collapse;
}

.progressbar
{
    display : block;
    width: 100%;
    height: 20px;
    background-image: linear-gradient(to right, rgb(25, 85, 43) var(--cssvar-gradiant-fill), rgba(255, 255, 255, 0) var(--cssvar-gradiant-empty) 100% );
}